*.xml
/RoomServerJava/.idea
/RoomServerJava/out/production/RoomServerJava/META-INF
build-*
*.iml
*.log
*.class
*.jar
*.user
*.sqlite
ServerRelease
RoomServer
check_err.bat
check_nerr.bat
*.dll